<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ClassMateSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.dt.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.dt.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <servlet-class>com.dt.servlet.ChangeUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessagePost</servlet-name>
    <servlet-class>com.dt.servlet.MessagePost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.dt.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeMessageInfo</servlet-name>
    <servlet-class>com.dt.servlet.ChangeMessageInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddActiveInfoServlet</servlet-name>
    <servlet-class>com.dt.servlet.AddActiveInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeActiveInfoServlet</servlet-name>
    <servlet-class>com.dt.servlet.ChangeActiveInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostMoodServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostMoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostWordsServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostWordsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>com.dt.servlet.GetImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFlowImageServlet</servlet-name>
    <servlet-class>com.dt.servlet.GetFlowImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.dt.servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostReportServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostGapQuestionServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostGapQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostJudgeQuestionServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostJudgeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostSingleQuestionServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostSingleQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostMultipleQuestionServlet</servlet-name>
    <servlet-class>com.dt.servlet.PostMultipleQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <url-pattern>/ChangeUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagePost</servlet-name>
    <url-pattern>/MessagePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMessageInfo</servlet-name>
    <url-pattern>/ChangeMessageInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActiveInfoServlet</servlet-name>
    <url-pattern>/AddActiveInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeActiveInfoServlet</servlet-name>
    <url-pattern>/ChangeActiveInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostMoodServlet</servlet-name>
    <url-pattern>/PostMoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostWordsServlet</servlet-name>
    <url-pattern>/PostWordsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/GetImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFlowImageServlet</servlet-name>
    <url-pattern>/GetFlowImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostReportServlet</servlet-name>
    <url-pattern>/PostReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostGapQuestionServlet</servlet-name>
    <url-pattern>/PostGapQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostJudgeQuestionServlet</servlet-name>
    <url-pattern>/PostJudgeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostSingleQuestionServlet</servlet-name>
    <url-pattern>/PostSingleQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostMultipleQuestionServlet</servlet-name>
    <url-pattern>/PostMultipleQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>